[Unit]
Description=Website Lab Jaringan Berbasis Informasi
After=network.target

[Service]
WorkingDirectory=/opt/lab-jarkom-fe
ExecStart=/bin/bash -c "source .env && npm install && npx prisma migrate dev --name init && npm run dev"
Restart=on-failure
ExecStop=/bin/killall "npm run dev"

[Install]
WantedBy=multi-user.target
